/NetBeansProjects/Swing/calculadoraIdade/nbproject/private/
/NetBeansProjects/Swing/calculadoraIdade/dist/
/NetBeansProjects/Swing/calculadoraIdade/build/
/NetBeansProjects/Swing/IdadeParaVotar/nbproject/private/
/NetBeansProjects/Swing/IdadeParaVotar/build/
/NetBeansProjects/Swing/IdadeParaVotar/dist/
/NetBeansProjects/Swing/LeeitorDePensamento/nbproject/private/
/NetBeansProjects/Swing/LeeitorDePensamento/dist/
/NetBeansProjects/Swing/LeeitorDePensamento/build/
